/**
 * Created by L.L. on 2017/3/24.
 */

body {
    background-color: #efefef;
}

body div{
    max-width: 755px;
}

.main-content {
  padding: 0;
}

.main-content .header-title {
    margin: 0 auto;
    width: 100%;
}

.main-content .header-title .title-image {
  width: 100%;
}

.footer-box {
  width: 100%;
  margin: 0 auto;
}

.footer-box .img {
  width: 100%;
}

.footer-content .text-center {
  color: #FFF;
  background-color: rgb(174, 10, 42);
  line-height: 1.5;
}

.footer-content .text-center a {
  color: #fff;
}

#header-img {
    margin: 0px auto;
}

.heading {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    max-width: 85%;
    background-image: url("http://sinacloud.net/illuminatorslab/ruc80/heading-bg.png");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center center;
    min-height: 17%;
}

.heading .heading-title {
    font-weight: 700;
    text-align: left;
    color: #e1e1e1;
    padding-top: 7%;
    padding-left: 10%;
}

.panel-ruc80 {
    border-color: rgba(174, 10, 42,.5);
}

.panel-ruc80>.panel-heading {
    color: rgb(174, 10, 42);
    background-color: rgba(174, 10, 42,.2);
    border-color: rgba(174, 10, 42,.5);
}

.btn-ruc80 {
    color: rgb(174, 10, 42);
    background-color: rgba(174, 10, 42,.2);
    border-color: rgba(174, 10, 42,.5);
}

.btn-tpl {
    margin: 2px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    min-height: 80px;
    width: 32%;
    color: rgba(225, 225, 225, 0);
    background-color: #FFF;
    border: none;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: rgb(174, 10, 42);  */
    /* border-color: rgb(174, 10, 42); */
}

.btn-tpl:hover,.btn-tpl:focus {
    color: rgba(225, 225, 225, 0);
}

.jumbotron {
    padding: 0 0!important;
    width: 80%;
    margin: 10px auto 35px auto;
    background-color: rgba(255,255,255, 0);
}

.images-header-content {
  padding-left: 10px;
  padding-top: 10px;
  width: 85%;
  background-color: #c9cacb;
  margin: 10px auto 35px auto;
}

.images-header-content .images-header-box {
  float: left;
  width: 33.3%;
  padding-right: 10px;
}

.images-header-content .images-header-box .btn-tpl-header {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  min-height: 80px;
  width: 100%;
  color: rgba(225, 225, 225, 0);
  background-color: #FFF;
  border: none;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 6px 0;
}

#imgSpace {
    margin: 20px auto 0 auto;
    background-image: url("http://sinacloud.net/illuminatorslab/ruc80/middle-bg.jpg");
    background-size: 100%;
    background-repeat:repeat-y;
    background-position:center top;
}

#imgSpace .btn {
    margin-top: 25px;
    margin-left: 64%;
}

.hidden {
    display: none;
}

.imgPreview {
    overflow: hidden;
}

#avatarPreview {
    width: 180px;
    height: 155px;
    position: absolute;
    top: 0px;
    border: 1px solid rgb(174, 10, 42);
}

#cropperSpace {
    max-width: 80%;
    margin: 25px auto;
}

.panel-ruc80 h6{
    margin-bottom: -5px;
}

#cropperCanvas {
    padding: 0 0;
    max-height: 640px;
}

#image {
    max-width: 100%;
}

#canvasSpace {
    margin-top: 25px;
}

#outputSpace {
    max-width: 80%;
    margin: -25px auto 25px auto;
}

@media (max-width: 555px) {
    body {
        background-size: 100%;
    }

    h2 {
        font-size: 1.3em;
    }

    .heading {
        min-height: 15%;
    }

    .heading .heading-title {
        padding-top: 13%;
        padding-left: 13%;
    }

    #imgSpace .btn {
        margin-left: 25%;
    }

    #footer {
        padding-top: 30%;
    }
}
